@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", sans-serif;
}

/* shared styles */
.display-flex {
  display: flex;
}

.text-gray {
  color: #424242;

}

.text-light-gray {
  color: #727272;
  font-size: 1rem;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);

}

.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;

}

/* header style */



/* navbar related style */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: bold;
  font-size: 3rem;
}

.nav-links {}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1140px;
  margin: 0 auto;
}

.banner img {
  max-width: 1140px;
  margin: 0 auto;
}

/* banner related style */
.banner-contant {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-img {
  width: 100%;
}

/* responsive header */
@media screen and (max-width:576px) {

  .navbar {
    flex-direction: column;
  }

  .banner-title {
    font-weight: 700;
    font-size: 2rem;
  }

  .btn-primary {
    padding: 10px 15px;
    font-weight: 600;
    font-size: 1rem;
  }
}