@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
  font-family: "Work Sans", sans-serif;
}

/* shared styles */
.display-flex {
  display: flex;
}

.text-gray {
  color: #424242;

}

.text-light-gray {
  color: #727272;
  font-size: 1rem;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);

}

.btn-primary {
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 1.25rem;
  border: none;
  border-radius: 8px;

}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar,
.banner {
  max-width: 1140px;
  margin: 0 auto;
}

main>section {
  margin-top: 130px;
}

.small-text {
  font-size: 16px;
  color: #727272;
}

/* header style */



/* navbar related style */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-weight: bold;
  font-size: 3rem;
}


.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}


.banner img {
  max-width: 1140px;
  margin: 0 auto;
}

/* banner related style */
.banner-contant {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title {
  font-weight: 700;
  font-size: 4rem;
}

.banner-img {
  width: 100%;
}


/* team section realated style */
.teams {
  align-items: center;
  margin-top: 130px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin: 73px;
}

.feature-title {
  font-size: 2.35rem;
}

.our-features h3 {
  white-space: nowrap;
}

#q-list {
  font-size: 2.35rem;
  font-weight: 500;
}

#of-our {
  font-size: 2.35rem;
  font-weight: bold;

}

#features {
  color: #FF900E;
  font-size: 2.35rem;
  font-weight: bold;

}

/* facts related style */
.fact-contant {
  margin: 130px 0;
  max-width: 570px;
}

.fact-card {
  border: 1px solid #FF900E;
  margin-bottom: 20px;
  padding: 45px 36px 59px 35px;
  border-radius: 8px;
  text-align: center;
  width: 180px;
  height: 180px;
}

.fact-font {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
  align-items: center;
}

.face-num {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 5px 0 10px 0;
}

.fact-name {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 10px 0 0 0;
  color: #727272;
}

/* sponsor related style */
.sponsor-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}

.sponsor-company {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;

}

.sponsor-company img {
  filter: grayscale(100%);
}


/* responsive header for 0-576px */
@media screen and (max-width:576px) {

  .navbar,
  .teams {
    flex-direction: column;
  }

  .banner-title {
    font-weight: 700;
    font-size: 2rem;
  }

  .btn-primary {
    padding: 10px 15px;
    font-weight: 600;
    font-size: 1rem;
  }

  .teams .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .fact-font {
    grid-template-columns: repeat(1, 1fr);
  }

  .fact-contant {
    margin: 50px auto;
    max-width: 400px;
  }

  .sponsor-company {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 50px;
    justify-items: center;
  }

}



/* responsive for medium device */
@media screen and (min-width:576px) and (max-width:992px) {
  .teams {
    flex-direction: column;
  }

  .team-img-container img {
    width: 100%;
    height: auto;
  }

  .banner-title {
    font-weight: 600;
    font-size: 2rem;
  }

  .brand {
    font-weight: bold;
    font-size: 2.1rem;
  }

  .fact-font {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .fact-contant {
    margin: 70px 70px;
    max-width: 400px;
  }

  .sponsor-company {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    justify-items: center;

  }
}